@page "/"

@using GGNet
@using GGNet.Formats
@using GGNet.Datasets
@using GGNet.NaturalEarth
@using GGNet.Components

<div class="border rounded-lg m-5 p-1" style="width: 720px; height: 670px;">
    <Plot Data=@map T=Point TX=Double TY=Double Width=720 Height=670 />
</div>

<div class="border rounded-lg m-5 p-1" style="width: 720px;">
    <Plot Data=@diamond T=Diamond.Point TX=Double TY=Double />
</div>

<div class="border rounded-lg m-5 p-1" style="width: 720px;">
    <Plot Data=@tipdist T=TipDistribution.Point TX=TipDistribution.Day TY=Double />
</div>

<div class="border rounded-lg m-5 p-1" style="width: 720px; background-color: #343a40;">
    <Plot Data=@tip T=Tip.Point TX=Tip.Day TY=Double />
</div>

<div class="border rounded-lg m-5 p-1" style="width: 720px;">
    <Plot Data=@gapminder T=GapMinder.Point TX=Double TY=Double />
</div>

<div class="border rounded-lg m-5 p-1" style="width: 720px;">
    <Plot Data=@beatles T=Beatles.Point TX=Double TY=Double />
</div>

<div class="border rounded-lg m-5 p-1" style="width: 720px;">
    <Plot Data=@weapon T=Weapon.Point TX=Double TY=Double />
</div>

<div class="border rounded-lg m-5 p-1" style="        width: 720px;
        background-color: #263238;">
    <Plot Data=@log10 T=Point2 TX=Double TY=Double />
</div>

<div class="border rounded-lg m-5 p-1" style="width: 720px; background-color: #343a40;">
    <Plot Data=@sqrt T=Point2 TX=Double TY=Double />
</div>

<div class="border rounded-lg m-5 p-1" style="width: 720px; background-color: #343a40;">
    <Plot Data=@abline T="(double, double)" TX=Double TY=Double />
</div>

<div class="border rounded-lg m-5 p-1" style="width: 720px; background-color: #343a40;">
    <Plot Data=@area T=Beatles.Point TX=Double TY=Double />
</div>

<div class="border rounded-lg m-5 p-1" style="width: 720px;">
    <Plot Data=@stack T=Beatles.Point TX=Double TY=Double />
</div>

@code {

    Data<Point, double, double> map;
    Data<Diamond.Point, double, double> diamond;
    Data<TipDistribution.Point, TipDistribution.Day, double> tipdist;
    Data<Tip.Point, Tip.Day, double> tip;
    Data<GapMinder.Point, double, double> gapminder;
    Data<Beatles.Point, double, double> beatles;
    Data<Weapon.Point, double, double> weapon;
    Data<Point2, double, double> log10;
    Data<Point2, double, double> sqrt;

    Data<(double x, double y), double, double> abline;

    Data<Beatles.Point, double, double> area;
    Data<Beatles.Point, double, double> stack;

    protected override void OnInitialized()
    {
        {
            var population = GapMinder.Load().Where(o => o.continent == GapMinder.Continent.Europe);
            var countries = Scale50.Countries;

            var data = population.Join(countries, o => o.country, o => o.Name, (x, y) => new Point
            {
                Pop = x.pop,
                Country = y
            });

            var theme = Theme.Default(dark: false, legend: Position.Top);
            theme.Tooltip.Background = "#4d4d4d";
            theme.Tooltip.Alpha = 1;

            map = Plot.New(data)
                .Geom_Map(o => o.Country.Polygons, tooltip: o => (o.Country.Capital.Point, o.Country.Name), alpha: 0.7, width: 0.2, animation: true)
                .Scale_Longitude(limits: (-15, 30))
                .Scale_Latitude(limits: (30, 70))
                .Scale_Fill_Continuous(o => o.Pop / 1000000, Colors.Brewer.Blues[9], name: "Population (M)")
                .Theme(theme);
        }

        {
            diamond = Plot.New(Diamond.Load(), x: o => o.Carat, y: o => o.Price)
                .Geom_Hex(dx: o => o.Dx, dy: o => o.Dy, tooltip: o => "Tooltip", animation: true)
                .Title("Prices of 50,000 round cut diamonds")
                .XLab("Carat")
                .YLab("Price($)")
                .Scale_Fill_Continuous(o => o.Count, Colors.Viridis, m: 10, name: "Count")
                .Theme(dark: false);
        }

        {
            var source = new Source<TipDistribution.Point>(TipDistribution.Load().OrderBy(o => o.Day).ThenBy(o => o.Sex));

            tipdist = Plot.New(source, x: o => o.Day, y: o => o.X)
                .Geom_Violin(width: o => o.Y, alpha: 0.7, color: "#000000", position: PositionAdjustment.Dodge)
                .Scale_Fill_Discrete(o => o.Sex, new[] { "#ef8697", "#5fa1b9" })
                .YLim(0, 40)
                .YLab("Tip (%)")
                .Theme(dark: false);
        }

        {
            var theme = Theme.Default();

            theme.Plot.Background.Fill = "#263238";
            theme.Panel.Background.Fill = "#32464a";
            theme.Axis.Text.X.Color = "#FFFFFF";
            theme.Axis.Title.X.Color = "#FFFFFF";
            theme.Axis.Text.Y.Color = "#FFFFFF";
            theme.Axis.Title.Y.Color = "#FFFFFF";
            theme.Panel.Grid.Major.X.Fill = "#263238";
            theme.Panel.Grid.Minor.X.Fill = "#263238";
            theme.Legend.Title.Color = "#FFFFFF";
            theme.Legend.Labels.Color = "#FFFFFF";

            tip = Plot.New(Tip.Load(), o => o.Day, o => o.Avg)
                .Geom_ErrorBar(ymin: o => o.Lower, ymax: o => o.Upper, tooltip: o => "Tooltip", position: PositionAdjustment.Dodge, animation: true)
                .Scale_Color_Discrete(o => o.Sex, new[] { "#69b3a2", "#404080" })
                .Title("Tipping Behavior")
                .YLab("Tip (%)")
                .Theme(theme);
        }

        {
            var text = new GGNet.Source<GapMinder.Point>(GapMinder.Load().Where(o => (o.gdpPercap > 5000 && o.lifeExp < 60) || o.lifeExp < 30 || o.gdpPercap > 40000));

            var tooltip =
@"
<div class=""border rounded"" style=""padding: 5px 10px;"">
    <div class=""text-center font-weight-bold border-bottom"" style=""color: var(--tooltip-color);"">Country</div>
    <div class=""text-nowrap"">
        <div class=""d-inline-block""><div class=""text-center"">Confirmed</div><div class=""text-center font-weight-bold"" style=""color: rgba(209, 137, 117, 1)""><span style=""opacity: 1;"">100</span></div></div>
        <div class=""d-inline-block""><div class=""text-center"">Deaths</div><div class=""text-center font-weight-bold"" style=""color: rgba(45, 84, 61, 1)""><span style=""opacity: 1;"">100</span></div></div>
        <div class=""d-inline-block""><div class=""text-center"">Recovered</div><div class=""text-center font-weight-bold"" style=""color: rgba(117, 139, 209, 1)""><span style=""opacity: 1;"">100</span></div></div>
    </div>
</div>
";
            var theme = Theme.Default(dark: false);
            theme.Tooltip.Margin = new GGNet.Elements.Margin();
            theme.Tooltip.Background = "#FFFFFF";
            theme.Tooltip.Alpha = 1.0;
            theme.Tooltip.Text.Color = "#000000";

            gapminder = Plot.New(GapMinder.Load(), x: o => o.gdpPercap, y: o => o.lifeExp)
                .Title("Gap Minder")
                .Geom_Point(tooltip: o => tooltip, color: "#000000", alpha: 0.7, animation: true)
                .Geom_Text(text, x: o => o.gdpPercap, y: o => o.lifeExp, text: o => o.country, angle: -45.0)
                .XLab("GDP/Capita")
                .Scale_Color_Discrete(o => o.continent, Colors.Viridis, name: "Continent")
                .Scale_Size_Continuous(o => o.pop / 1000000, range: (1.86, 25.4), name: "Population(M)")
                .YLab("Life Expectancy")
                .Caption("Source: https://www.gapminder.org")
                .Theme(theme);
        }

        {
            var source = new Source<Beatles.Point>(Beatles.Load()
                           .Where(o => o.Year == 2010 || o.Year == 1970 || o.Year == 1930)
                           .OrderBy(o => o.Year)
                           .ThenBy(o => o.Name));

            double X(Beatles.Point p) => p.Year switch
            {
                1930 => 1.0,
                1970 => 2.0,
                2010 => 3.0,
                _ => throw new ArgumentException()
            };

            var labeller = new Labeller<double>
            {
                [1.0] = "1930",
                [2.0] = "1970",
                [3.0] = "2010"
            };

            var theme = Theme.Default(dark: false);
            theme.Panel.Grid.Major.X.Width = 0;
            theme.Panel.Grid.Major.Y.Fill = "rgba(0, 0, 0, 0.5)";
            theme.Panel.Grid.Major.Y.LineType = LineType.Dotted;
            theme.Panel.Grid.Minor.Y.Fill = "rgba(0, 0, 0, 0.5)";
            theme.Panel.Grid.Minor.Y.LineType = LineType.Dotted;

            beatles = Plot.New(source, x: X, y: o => o.N)
                 .Geom_Bar(tooltip: o => $"<b>{o.Name}:</b> {o.N}", position: PositionAdjustment.Stack, width: 0.5, alpha: 0.7)
                 .Scale_X_Discrete(expand: (0.0, 0.1, 0, 0.1), formatter: labeller)
                 .Scale_Y_Continuous(expand: (0.0, 0.0, 0.05, 0.0))
                 .Scale_Fill_Discrete(o => o.Name, Colors.Brewer.YlGnBu[4], direction: -1)
                 .YLab("#")
                 .XLab("Year")
                 .Theme(theme);
        }
        {
            var n = 15;

            var data = Weapon.Load()
                .OrderByDescending(o => o.Value)
                .Take(n)
                .Select((o, i) => new Weapon.Point
                {
                    Id = n - i,
                    Country = o.Country,
                    Value = o.Value
                })
                .OrderBy(o => o.Id)
                .ToList();

            var labeller = new Labeller<double>(data.ToDictionary(o => (double)o.Id, o => o.Country));

            var source = new Source<Weapon.Point>(data);

            var theme = Theme.Default(dark: false);
            theme.Panel.Grid.Major.Y.Width = 0;

            weapon = Plot.New(source, o => o.Value, o => o.Id)
                .Geom_Bar(tooltip: o => $"{o.Value}", fill: "#69b3a2", alpha: 0.7)
                .Scale_X_Continuous(expand: (0, 0, 0.05, 0.0))
                .Scale_Y_Discrete(expand: (0.0, 0.1, 0, 0.1), formatter: labeller)
                .Flip()
                .XLab("Weapon Quantity")
                .Caption("SIPRI trend-indicator value")
                .Theme(theme);
        }

        {
            var source = new Point2[5];

            for (var i = 0; i < 5; i++)
            {
                source[i] = new Point2
                {
                    X = i + 1,
                    Y = System.Math.Pow(i + 1.0, 10)
                };
            }

            /*
            var source = new[] {
                new Point2 { X = 1, Y = 300.005 },
                new Point2 { X = 2, Y = 8420.1 }
            };
            */

            log10 = Plot.New(source, o => o.X, o => o.Y)
                .Geom_Point()
                .Scale_Y_Log10()
                .Theme();
        }

        {
            var source = new Point2[5];

            for (var i = 0; i < 5; i++)
            {
                source[i] = new Point2 { X = i, Y = i * i };
            }

            sqrt = Plot.New(source, o => o.X, o => o.Y)
                //.Geom_Point()
                .Geom_Line(tooltip: o => $"({o.X}, {o.Y})")
                .Scale_Y_Sqrt()
                .Theme();
        }

        {
            abline = Plot.New(new[] { (x: 0.0, y: 0.0), (x: 1.0, y: 1.0) }, o => o.x, o => o.y)
                .Geom_Point()
                .Geom_ABLine(new[] { (a: -2.0, b: 1.0), (a: 2.0, b: 0.0), (a: 0.5, b: 0.0), (a: -0.5, b: 1.0) }, o => o.a, o => o.b, o => "Label", anchor: Anchor.start)
                .Geom_VLine(new[] { 0.25 }, o => o, o => "Label", anchor: Anchor.end)
                .Geom_VLine(new[] { 0.75 }, o => o, o => "Label", anchor: Anchor.start)
                .Geom_HLine(new[] { 0.25 }, o => o, o => "Label", anchor: Anchor.end)
                .Geom_HLine(new[] { 0.75 }, o => o, o => "Label", anchor: Anchor.start)
                .Theme();
        }

        {
            area = Plot.New(Beatles.Load(), x: o => o.Year)
                .Geom_Area(y: o => o.N, tooltip: o => $"{o.Name}: {o.Year}")
                .Geom_VLine(new[] { 1984 }, o => o, o => o.ToString(), color: "#FFFFFF", lineType: LineType.Dashed)
                .Scale_Y_Continuous(format: "#,##0")
                .Scale_Fill_Discrete(o => o.Name, Colors.FT, guide: false)
                .Facet_Wrap(selector: o => o.Name, freeY: true)
                .Title("Popularity of Beatles Names")
                .YLab("#")
                .XLab("Year")
                .Theme();
        }

        {
            stack = Plot.New(Beatles.Load().OrderBy(o => o.Name), x: o => o.Year, o => o.N)
                .Geom_Area(tooltip: o => $"{o.Name}: {o.Year}", alpha: 0.5, position: PositionAdjustment.Stack)
                .Scale_X_Continuous(expand: (0, 3, 0, 0))
                .Scale_Y_Continuous(format: "#,##0")
                .Scale_Fill_Discrete(o => o.Name, Colors.Nature)
                .Title("Popularity of Beatles Names")
                .YLab("#")
                .XLab("Year")
                .Theme(dark: false, legend: Position.Top);
        }
    }

    public class Point
    {
        public Country Country { get; set; }

        public double Pop { get; set; }
    }

    public class Point2
    {
        public double X { get; set; }
        public double Y { get; set; }
    }
}
