.csharp .pl-smi {
    color: #24292e;
}

.csharp .pl-en {
    color: #6f42c1;
}

.csharp .pl-k {
    color: #d73a49;
}

.csharp .pl-c1 {
    color: #005cc5;
}


.html .pl-ent {
    color: #22863a;
}

.html .pl-c1 {
    color: #005cc5;
}
