@page "/spark2"

@using GGNet
@using GGNet.Palettes

<table class="table table-sm w-50">
    <thead>
        <tr>
            <th scope="col">Continent</th>
            <th scope="col">Trend</th>
            <th scope="col">Change</th>
        </tr>
    </thead>
    <tbody>
@{
    foreach (var continent in Continents)
    {
        var points = new Point[N];
        var deltas = new Point[N - 1];
        var min = new Point();
        var max = new Point();

        points[0] = new Point();

        var cum = 0.0;

        for (var i = 1; i < N; i++)
        {
            var delta = Math.Sqrt(-2.0 * Math.Log(rnd.NextDouble())) * Math.Cos(2.0 * Math.PI * rnd.NextDouble());
            cum += delta;

            if (cum < min.Y)
            {
                min.X = i;
                min.Y = cum;
            }

            if (cum > max.Y)
            {
                max.X = i;
                max.Y = cum;
            }

            points[i] = new Point { X = i, Y = cum };
            deltas[i - 1] = new Point { X = i, Y = delta };
        }

        var spark1 = Plot.New(points, x: o => o.X, y: o => o.Y)
            .Geom_Line(color: "#000000")
            .Geom_Point(new[] { min }, x: o => o.X, y: o => o.Y, color: "red", size: 3, animation: true)
            .Geom_Point(new[] { max }, x: o => o.X, y: o => o.Y, color: "green", size: 3, animation: true)
            .Scale_Y_Continuous(expand: (0.1, 0, 0.1, 0))
            .Theme(dark: false);

        var spark2 = Plot.New(deltas, x: o => o.X, y: o => o.Y)
            .Geom_Bar(position: PositionAdjustment.Dodge)
            .Scale_Fill_Discrete(o => o.Y >= 0 ? 1 : -1, Discrete<int, string>.New(new[] { -1, 1 }, new[] { "red", "green" }), guide: false)
            .Theme(dark: false);

        <tr>
            <td>@continent</td>
            <td>
                <div style="width: 150px; height: 50px;">
                    <GGNet.Components.SparkLine Data=@spark1 T=Point TX=Double TY=Double />
                </div>
            </td>

            <td>
                <div style="width: 150px; height: 50px;">
                    <GGNet.Components.SparkLine Data=@spark2 T=Point TX=Double TY=Double />
                </div>
            </td>
        </tr>
    }
}

    </tbody>
</table>

@code {

    private string[] Continents = new[] { "Africa", "Asia", "Australia", "Europe", "North America", "South America" };

    private int N = 30;

    private Random rnd = new Random();

    public class Point
    {
        public double X { get; set; }
        public double Y { get; set; }
    }
}