@namespace Site.Pages
@page "/examples/bubbleplot"

@using GGNet

    <div class="container-fluid mt-4">

        <div class="row m-4">

            <div class="col-md-6">
                <h2>Bubble Plot</h2>
                <p>Add a third dimension to scatterplots</p>
                <div class="border rounded-lg bg-light p-3 mt-3">
<pre class="csharp">
<span class="pl-smi">Plot</span>.<span class="pl-en">New</span>(<span class="pl-smi">source</span>, <span class="pl-smi">x</span>: <span class="pl-smi">o</span> <span class="pl-k">=&gt;</span> <span class="pl-smi">o</span>.<span class="pl-smi">gdpPercap</span>, <span class="pl-smi">y</span>: <span class="pl-smi">o</span> <span class="pl-k">=&gt;</span> <span class="pl-smi">o</span>.<span class="pl-smi">lifeExp</span>)
    .<span class="pl-en">Title</span>(<span class="pl-s"><span class="pl-pds">"</span>Gap Minder<span class="pl-pds">"</span></span>)
    .<span class="pl-en">Geom_Point</span>(<span class="pl-smi">tooltip</span>: <span class="pl-smi">o</span> <span class="pl-k">=&gt;</span> <span class="pl-k">new</span>[] { <span class="pl-smi">o</span>.<span class="pl-smi">country</span> }, <span class="pl-smi">color</span>: <span class="pl-s"><span class="pl-pds">"</span>#000000<span class="pl-pds">"</span></span>, <span class="pl-smi">alpha</span>: <span class="pl-c1">0.7</span>)
    .<span class="pl-en">Geom_Text</span>(<span class="pl-smi">text</span>, <span class="pl-smi">x</span>: <span class="pl-smi">o</span> <span class="pl-k">=&gt;</span> <span class="pl-smi">o</span>.<span class="pl-smi">gdpPercap</span>, <span class="pl-smi">y</span>: <span class="pl-smi">o</span> <span class="pl-k">=&gt;</span> <span class="pl-smi">o</span>.<span class="pl-smi">lifeExp</span>, <span class="pl-smi">text</span>: <span class="pl-smi">o</span> <span class="pl-k">=&gt;</span> <span class="pl-smi">o</span>.<span class="pl-smi">country</span>)
    .<span class="pl-en">XLab</span>(<span class="pl-s"><span class="pl-pds">"</span>GDP/Capita<span class="pl-pds">"</span></span>)
    .<span class="pl-en">Scale_Color_Discrete</span>(<span class="pl-smi">o</span> <span class="pl-k">=&gt;</span> <span class="pl-smi">o</span>.<span class="pl-smi">continent</span>, <span class="pl-smi">Colors</span>.<span class="pl-smi">Viridis</span>, <span class="pl-smi">name</span>: <span class="pl-s"><span class="pl-pds">"</span>Continent<span class="pl-pds">"</span></span>)
    .<span class="pl-en">Scale_Size_Continuous</span>(<span class="pl-smi">o</span> <span class="pl-k">=&gt;</span> <span class="pl-smi">o</span>.<span class="pl-smi">pop</span> <span class="pl-k">/</span> <span class="pl-c1">1000000</span>, <span class="pl-smi">range</span>: (<span class="pl-c1">1.86</span>, <span class="pl-c1">25.4</span>), <span class="pl-smi">name</span>: <span class="pl-s"><span class="pl-pds">"</span>Population(M)<span class="pl-pds">"</span></span>)
    .<span class="pl-en">YLab</span>(<span class="pl-s"><span class="pl-pds">"</span>Life Expectancy<span class="pl-pds">"</span></span>)
    .<span class="pl-en">Caption</span>(<span class="pl-s"><span class="pl-pds">"</span>Source: https://www.gapminder.org<span class="pl-pds">"</span></span>)
    .<span class="pl-en">Theme</span>(<span class="pl-smi">dark</span>: <span class="pl-c1">false</span>);
</pre>
                </div>
            </div>

            <div class="col-md-6">
                <div class="border rounded-lg p-1">
                    <GGNet.Components.Plot Data=@gapminder T="GGNet.Datasets.GapMinder.Point" TX="Double" TY="Double" />
                </div>
            </div>
        </div>
    </div>

@code {

    Data<GGNet.Datasets.GapMinder.Point, double, double> gapminder;

    protected override void OnInitialized()
    {
        var source = new GGNet.Source<GGNet.Datasets.GapMinder.Point>(GGNet.Datasets.GapMinder.Load());

        var text = new GGNet.Source<GGNet.Datasets.GapMinder.Point>(GGNet.Datasets.GapMinder.Load().Where(o => (o.gdpPercap > 5000 && o.lifeExp < 60) || o.lifeExp < 30 || o.gdpPercap > 40000));

        gapminder = Plot.New(source, x: o => o.gdpPercap, y: o => o.lifeExp)
            .Title("Gap Minder")
            .Geom_Point(tooltip: o => new[] { o.country }, color: "#000000", alpha: 0.7)
            .Geom_Text(text, x: o => o.gdpPercap, y: o => o.lifeExp, text: o => o.country)
            .XLab("GDP/Capita")
            .Scale_Color_Discrete(o => o.continent, GGNet.Colors.Viridis, name: "Continent")
            .Scale_Size_Continuous(o => o.pop / 1000000, range: (1.86, 25.4), name: "Population(M)")
            .YLab("Life Expectancy")
            .Caption("Source: https://www.gapminder.org")
            .Theme(dark: false);
    }
}
