@namespace Site.Pages
@page "/examples/hex"

@using GGNet

    <div class="container-fluid mt-4">

        <div class="row m-4">

            <div class="col-md-6">
                <h2>Hexagonal heatmap</h2>
                <p>2D density plot</p>
                <div class="border rounded-lg bg-light p-3 mt-3">
<pre class="csharp">
<span class="pl-smi">Plot</span>.<span class="pl-en">New</span>(<span class="pl-smi">source</span>, <span class="pl-smi">x</span>: <span class="pl-smi">o</span> <span class="pl-k">=&gt;</span> <span class="pl-smi">o</span>.<span class="pl-smi">Carat</span>, <span class="pl-smi">y</span>: <span class="pl-smi">o</span> <span class="pl-k">=&gt;</span> <span class="pl-smi">o</span>.<span class="pl-smi">Price</span>)
    .<span class="pl-en">Geom_Hex</span>(<span class="pl-smi">dx</span>: <span class="pl-smi">o</span> <span class="pl-k">=&gt;</span> <span class="pl-smi">o</span>.<span class="pl-smi">Dx</span>, <span class="pl-smi">dy</span>: <span class="pl-smi">o</span> <span class="pl-k">=&gt;</span> <span class="pl-smi">o</span>.<span class="pl-smi">Dy</span>)
    .<span class="pl-en">Title</span>(<span class="pl-s"><span class="pl-pds">"</span>Prices of 50,000 round cut diamonds<span class="pl-pds">"</span></span>)
    .<span class="pl-en">XLab</span>(<span class="pl-s"><span class="pl-pds">"</span>Carat<span class="pl-pds">"</span></span>)
    .<span class="pl-en">YLab</span>(<span class="pl-s"><span class="pl-pds">"</span>Price($)<span class="pl-pds">"</span></span>)
    .<span class="pl-en">Scale_Fill_Continuous</span>(<span class="pl-smi">o</span> <span class="pl-k">=&gt;</span> <span class="pl-smi">o</span>.<span class="pl-smi">Count</span>, <span class="pl-smi">Colors</span>.<span class="pl-smi">Viridis</span>, <span class="pl-smi">m</span>: <span class="pl-c1">10</span>, <span class="pl-smi">name</span>: <span class="pl-s"><span class="pl-pds">"</span>Count<span class="pl-pds">"</span></span>)
    .<span class="pl-en">Theme</span>(<span class="pl-smi">dark</span>: <span class="pl-c1">false</span>);
</pre>
                </div>
            </div>

            <div class="col-md-6">
                <div class="border rounded-lg p-1">
                    <GGNet.Components.Plot Data=@diamond T="GGNet.Datasets.Diamond.Point" TX="Double" TY="Double" />
                </div>
            </div>

        </div>
    </div>

@code {

    Data<GGNet.Datasets.Diamond.Point, double, double> diamond;

    protected override void OnInitialized()
    {
        var source = new Source<GGNet.Datasets.Diamond.Point>(GGNet.Datasets.Diamond.Load());

        diamond = Plot.New(source, x: o => o.Carat, y: o => o.Price)
            .Geom_Hex(dx: o => o.Dx, dy: o => o.Dy)
            .Title("Prices of 50,000 round cut diamonds")
            .XLab("Carat")
            .YLab("Price($)")
            .Scale_Fill_Continuous(o => o.Count, GGNet.Colors.Viridis, m: 10, name: "Count")
            .Theme(dark: false);
    }
}
