@namespace Site.Pages
@page "/examples/lolipop"

@using GGNet

    <div class="container-fluid mt-4">

        <div class="row m-4">

            <div class="col-md-6">
                <h2>Lolipop</h2>
                <p>Alternative to Barplot</p>
                <div class="border rounded-lg bg-light p-1 mt-3">
<pre class="csharp">
<span class="pl-smi">Plot</span>.<span class="pl-en">New</span>(<span class="pl-smi">source</span>, <span class="pl-smi">o</span> <span class="pl-k">=&gt;</span> <span class="pl-smi">o</span>.<span class="pl-smi">Value</span>, <span class="pl-smi">o</span> <span class="pl-k">=&gt;</span> <span class="pl-smi">o</span>.<span class="pl-smi">Id</span>)
    .<span class="pl-en">Geom_Segment</span>(<span class="pl-smi">x</span>: <span class="pl-smi">o</span> <span class="pl-k">=&gt;</span> <span class="pl-c1">0</span>, <span class="pl-smi">xend</span>: <span class="pl-smi">o</span> <span class="pl-k">=&gt;</span> <span class="pl-smi">o</span>.<span class="pl-smi">Value</span>, <span class="pl-smi">y</span>: <span class="pl-smi">o</span> <span class="pl-k">=&gt;</span> <span class="pl-smi">o</span>.<span class="pl-smi">Id</span>, <span class="pl-smi">yend</span>: <span class="pl-smi">o</span> <span class="pl-k">=&gt;</span> <span class="pl-smi">o</span>.<span class="pl-smi">Id</span>, <span class="pl-smi">color</span>: <span class="pl-s"><span class="pl-pds">"</span>#808080<span class="pl-pds">"</span></span>)
    .<span class="pl-en">Geom_Point</span>(<span class="pl-smi">color</span>: <span class="pl-s"><span class="pl-pds">"</span>#69b3a2<span class="pl-pds">"</span></span>)
    .<span class="pl-en">Scale_X_Continuous</span>(<span class="pl-smi">expand</span>: (<span class="pl-c1">0.0</span>, <span class="pl-c1">0.0</span>, <span class="pl-c1">0.05</span>, <span class="pl-c1">0.0</span>))
    .<span class="pl-en">Scale_Y_Discrete</span>(<span class="pl-smi">expand</span>: (<span class="pl-c1">0.0</span>, <span class="pl-c1">0.5</span>, <span class="pl-c1">0</span>, <span class="pl-c1">0.5</span>), <span class="pl-smi">formatter</span>: <span class="pl-smi">labeller</span>)
    .<span class="pl-en">XLab</span>(<span class="pl-s"><span class="pl-pds">"</span>Weapon Quantity<span class="pl-pds">"</span></span>)
    .<span class="pl-en">Caption</span>(<span class="pl-s"><span class="pl-pds">"</span>SIPRI trend-indicator value<span class="pl-pds">"</span></span>)
    .<span class="pl-en">Theme</span>(<span class="pl-smi">dark</span>: <span class="pl-c1">false</span>);
</pre>
                </div>
            </div>

            <div class="col-md-6">
                <div class="border rounded-lg p-3">
                    <GGNet.Components.Plot Data=@weapon T="GGNet.Datasets.Weapon.Point" TX="Double" TY="Double" />
                </div>
            </div>

        </div>
    </div>

@code {

    Data<GGNet.Datasets.Weapon.Point, double, double> weapon;

    protected override void OnInitialized()
    {
        var n = 15;

        var data = GGNet.Datasets.Weapon.Load()
            .OrderByDescending(o => o.Value)
            .Take(n)
            .Select((o, i) => new GGNet.Datasets.Weapon.Point
            {
                Id = n - i,
                Country = o.Country,
                Value = o.Value
            })
            .OrderBy(o => o.Id)
            .ToList();

        var labeller = new GGNet.Formats.Labeller<double>(data.ToDictionary(o => (double)o.Id, o => o.Country));

        var source = new GGNet.Source<GGNet.Datasets.Weapon.Point>(data);

        weapon = Plot.New(source, o => o.Value, o => o.Id)
            .Geom_Segment(x: o => 0, xend: o => o.Value, y: o => o.Id, yend: o => o.Id, color: "#808080")
            .Geom_Point(color: "#69b3a2")
            .Scale_X_Continuous(expand: (0.0, 0.0, 0.05, 0.0))
            .Scale_Y_Discrete(expand: (0.0, 0.5, 0, 0.5), formatter: labeller)
            .XLab("Weapon Quantity")
            .Caption("SIPRI trend-indicator value")
            .Theme(dark: false);
    }
}
