@namespace Site.Pages
@page "/examples/tooltip"

@using GGNet

    <div class="container-fluid mt-4">

        <div class="row m-4">

            <div class="col-md-6">
                <h2>Tooltips</h2>
                <p>Built-in tooltip support</p>
                <div class="border rounded-lg bg-light p-3 mt-3">

<pre class="csharp">
<span class="pl-smi">Plot</span>.<span class="pl-en">New</span>(<span class="pl-smi">source</span>, <span class="pl-smi">x</span>: <span class="pl-smi">o</span> <span class="pl-k">=&gt;</span> <span class="pl-smi">o</span>.<span class="pl-smi">Weight</span>, <span class="pl-smi">y</span>: <span class="pl-smi">o</span> <span class="pl-k">=&gt;</span> <span class="pl-smi">o</span>.<span class="pl-smi">MPG</span>)
    .<span class="pl-en">Geom_Point</span>(<span class="pl-smi">tooltip</span>: <span class="pl-smi">o</span> <span class="pl-k">=&gt;</span> <span class="pl-k">new</span>[] { <span class="pl-s"><span class="pl-pds">$"</span>Model: {<span class="pl-smi">o</span>.<span class="pl-smi">Model</span>}<span class="pl-pds">"</span></span>, <span class="pl-s"><span class="pl-pds">$"</span>Horse Power: {<span class="pl-smi">o</span>.<span class="pl-smi">HP</span>}<span class="pl-pds">"</span></span>, <span class="pl-s"><span class="pl-pds">$"</span>Cylinders: {<span class="pl-smi">o</span>.<span class="pl-smi">Cylinders</span>}<span class="pl-pds">"</span></span> })
    .<span class="pl-en">XLab</span>(<span class="pl-s"><span class="pl-pds">"</span>Weight (1K lbs)<span class="pl-pds">"</span></span>)
    .<span class="pl-en">YLab</span>(<span class="pl-s"><span class="pl-pds">"</span>Miles/Gallon<span class="pl-pds">"</span></span>)
    .<span class="pl-en">Caption</span>(<span class="pl-s"><span class="pl-pds">"</span>source: Motor Trend<span class="pl-pds">"</span></span>)
    .<span class="pl-en">Theme</span>();
</pre>
                </div>
            </div>

            <div class="col-md-6">
                <div class="border rounded-lg p-1" style="background-color: #252A32;">
                    <GGNet.Components.Plot Data=@cars T="GGNet.Datasets.Cars.Point" TX="Double" TY="Double" />
                </div>
            </div>

        </div>
    </div>

@code {

    Data<GGNet.Datasets.Cars.Point, double, double> cars;

    protected override void OnInitialized()
    {
        var source = new GGNet.Source<GGNet.Datasets.Cars.Point>(GGNet.Datasets.Cars.Load());

        cars = Plot.New(source, x: o => o.Weight, y: o => o.MPG)
            .Geom_Point(tooltip: o => new[] { $"Model: {o.Model}", $"Horse Power: {o.HP}", $"Cylinders: {o.Cylinders}" })
            .XLab("Weight (1K lbs)")
            .YLab("Miles/Gallon")
            .Caption("source: Motor Trend")
            .Theme();
    }
}
