@namespace Site.Pages
@layout DocumentationLayout
@page "/documentation/interactivity"

<h1>Interactivity</h1>

<p>Geom interaction is done through events, receiving the observation under scrutiny as argument.</p>

<dl class="row ml-auto mr-auto">

    <dt class="col-sm-2">OnClick</dt>
    <dd class="col-sm-10">Occurs when the user clicks on a visual object.</dd>

    <dt class="col-sm-2">OnMouseOver</dt>
    <dd class="col-sm-10">occurs when the mouse pointer is moved onto a visual object.</dd>

    <dt class="col-sm-2">OnMouseOut</dt>
    <dd class="col-sm-10">occurs when the mouse pointer is moved out of a visual object.</dd>

</dl>
