@namespace Site.Pages
@layout DocumentationLayout
@page "/documentation/themes"

<h1>Themes</h1>

<p>Theming controls how elements are styled allowing seamless integration with your designs and brand.</p>

<h3>Basic</h3>

<p>High level settings can be configured from the function <span class="func">Theme</span>.</p>

<dl class="row ml-auto mr-auto">

    <dt class="col-sm-2">dark</dt>
    <dd class="col-sm-10"><b>true</b>, false</dd>

    <dt class="col-sm-2">axisY</dt>
    <dd class="col-sm-10">Position: <b>Left</b>, Right</dd>

    <dt class="col-sm-2">legend</dt>
    <dd class="col-sm-10">Position: Left, <b>Right</b>, Top, Bottom</dd>

</dl>

<h3>Advanced</h3>

<div class="border rounded-lg bg-light p-3 m-3">
<pre class="csharp">
<span class="pl-k">var</span> <span class="pl-smi">theme</span> <span class="pl-k">=</span> <span class="pl-smi">Theme</span>.<span class="pl-en">Default</span>();

<span class="pl-smi">theme</span>.<span class="pl-smi">Plot</span>.<span class="pl-smi">Background</span>.<span class="pl-smi">Fill</span> <span class="pl-k">=</span> ...
<span class="pl-smi">theme</span>.<span class="pl-smi">Plot</span>.<span class="pl-smi">Title</span>.<span class="pl-smi">Size</span> <span class="pl-k">=</span> ...
<span class="pl-smi">theme</span>.<span class="pl-smi">Plot</span>.<span class="pl-smi">Title</span>.<span class="pl-smi">Anchor</span> <span class="pl-k">=</span> ...
<span class="pl-smi">theme</span>.<span class="pl-smi">Plot</span>.<span class="pl-smi">Title</span>.<span class="pl-smi">Weight</span> <span class="pl-k">=</span> ...
<span class="pl-smi">theme</span>.<span class="pl-smi">Plot</span>.<span class="pl-smi">Title</span>.<span class="pl-smi">Color</span> <span class="pl-k">=</span> ...
<span class="pl-smi">theme</span>.<span class="pl-smi">Plot</span>.<span class="pl-smi">Title</span>.<span class="pl-smi">Margin</span> <span class="pl-k">=</span> ...
<span class="pl-smi">theme</span>.<span class="pl-smi">Plot</span>.<span class="pl-smi">SubTitle</span>.<span class="pl-smi">Size</span> <span class="pl-k">=</span> ...
<span class="pl-smi">theme</span>.<span class="pl-smi">Plot</span>.<span class="pl-smi">SubTitle</span>.<span class="pl-smi">Anchor</span> <span class="pl-k">=</span> ...
<span class="pl-smi">theme</span>.<span class="pl-smi">Plot</span>.<span class="pl-smi">SubTitle</span>.<span class="pl-smi">Weight</span> <span class="pl-k">=</span> ...
<span class="pl-smi">theme</span>.<span class="pl-smi">Plot</span>.<span class="pl-smi">SubTitle</span>.<span class="pl-smi">Color</span> <span class="pl-k">=</span> ...
<span class="pl-smi">theme</span>.<span class="pl-smi">Plot</span>.<span class="pl-smi">SubTitle</span>.<span class="pl-smi">Margin</span> <span class="pl-k">=</span> ...
<span class="pl-smi">theme</span>.<span class="pl-smi">Plot</span>.<span class="pl-smi">Caption</span>.<span class="pl-smi">Size</span> <span class="pl-k">=</span> ...
<span class="pl-smi">theme</span>.<span class="pl-smi">Plot</span>.<span class="pl-smi">Caption</span>.<span class="pl-smi">Anchor</span> <span class="pl-k">=</span> ...
<span class="pl-smi">theme</span>.<span class="pl-smi">Plot</span>.<span class="pl-smi">Caption</span>.<span class="pl-smi">Weight</span> <span class="pl-k">=</span> ...
<span class="pl-smi">theme</span>.<span class="pl-smi">Plot</span>.<span class="pl-smi">Caption</span>.<span class="pl-smi">Color</span> <span class="pl-k">=</span> ...
<span class="pl-smi">theme</span>.<span class="pl-smi">Plot</span>.<span class="pl-smi">Caption</span>.<span class="pl-smi">Margin</span> <span class="pl-k">=</span> ...
<span class="pl-smi">theme</span>.<span class="pl-smi">Panel</span>.<span class="pl-smi">Grid</span>.<span class="pl-smi">Major</span>.<span class="pl-smi">X</span> <span class="pl-k">=</span> ...
<span class="pl-smi">theme</span>.<span class="pl-smi">Panel</span>.<span class="pl-smi">Grid</span>.<span class="pl-smi">Major</span>.<span class="pl-smi">Y</span> <span class="pl-k">=</span> ...
<span class="pl-smi">theme</span>.<span class="pl-smi">Panel</span>.<span class="pl-smi">Grid</span>.<span class="pl-smi">Minor</span>.<span class="pl-smi">X</span> <span class="pl-k">=</span> ...
<span class="pl-smi">theme</span>.<span class="pl-smi">Panel</span>.<span class="pl-smi">Grid</span>.<span class="pl-smi">Minor</span>.<span class="pl-smi">Y</span> <span class="pl-k">=</span> ...
<span class="pl-smi">theme</span>.<span class="pl-smi">Axis</span>.<span class="pl-smi">Text</span>.<span class="pl-smi">X</span> <span class="pl-k">=</span> ...
<span class="pl-smi">theme</span>.<span class="pl-smi">Axis</span>.<span class="pl-smi">Text</span>.<span class="pl-smi">Y</span> <span class="pl-k">=</span> ...
<span class="pl-smi">theme</span>.<span class="pl-smi">Axis</span>.<span class="pl-smi">Title</span>.<span class="pl-smi">X</span> <span class="pl-k">=</span> ...
<span class="pl-smi">theme</span>.<span class="pl-smi">Axis</span>.<span class="pl-smi">Title</span>.<span class="pl-smi">Y</span> <span class="pl-k">=</span> ...
<span class="pl-smi">theme</span>.<span class="pl-smi">Legend</span>.<span class="pl-smi">Position</span> <span class="pl-k">=</span> ...
<span class="pl-smi">theme</span>.<span class="pl-smi">Legend</span>.<span class="pl-smi">Direction</span> <span class="pl-k">=</span> ...
<span class="pl-smi">theme</span>.<span class="pl-smi">Legend</span>.<span class="pl-smi">Title</span>.<span class="pl-smi">Size</span> <span class="pl-k">=</span> ...
<span class="pl-smi">theme</span>.<span class="pl-smi">Legend</span>.<span class="pl-smi">Title</span>.<span class="pl-smi">Anchor</span> <span class="pl-k">=</span> ...
<span class="pl-smi">theme</span>.<span class="pl-smi">Legend</span>.<span class="pl-smi">Title</span>.<span class="pl-smi">Weight</span> <span class="pl-k">=</span> ...
<span class="pl-smi">theme</span>.<span class="pl-smi">Legend</span>.<span class="pl-smi">Title</span>.<span class="pl-smi">Color</span> <span class="pl-k">=</span> ...
<span class="pl-smi">theme</span>.<span class="pl-smi">Legend</span>.<span class="pl-smi">Text</span> <span class="pl-k">=</span> ...
<span class="pl-smi">theme</span>.<span class="pl-smi">Legend</span>.<span class="pl-smi">Margin</span> <span class="pl-k">=</span> ...
</pre>
</div>
