@page "/examples"

<section class="jumbotron jumbotron-fluid text-center">
    <div class="container">
        <h1 class="display-4">Learn from Examples</h1>
        <p class="lead text-muted">Quickly bring your data and models to life. Copy code and make it your own.</p>
    </div>
</section>

<div class="examples py-5">
    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div>
                        <a href="/examples/scatterplot"><img src="img/scatterplot.png" class="w-100" /></a>
                    </div>
                    <div class="card-body">
                        <h5>Scatterplot</h5>
                        <p class="card-text">
                            Display the relationship between 2 variables grouped by category
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <a class="btn btn-sm btn-outline-secondary" href="/examples/scatterplot" role="button">View</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div>
                        <a href="/examples/bubbleplot"><img src="img/bubbleplot.png" class="w-100" /></a>
                    </div>
                    <div class="card-body">
                        <h5>Bubble Plot</h5>
                        <p class="card-text">
                            Add a third dimension to scatterplots
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <a class="btn btn-sm btn-outline-secondary" href="/examples/bubbleplot" role="button">View</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div>
                        <a href="/examples/barchart"><img src="img/barchart.png" class="w-100" /></a>
                    </div>
                    <div class="card-body">
                        <h5>Bar Chart</h5>
                        <p class="card-text">
                            Display the time serie of financial instruments market data
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-outline-secondary" href="examples/barchart" role="button">View</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div>
                        <a href="/examples/candlestick"><img src="img/candlestick.png" class="w-100" /></a>
                    </div>
                    <div class="card-body">
                        <h5>Candlestick</h5>
                        <p class="card-text">
                            Display technical analysis indicators
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-outline-secondary" href="examples/candlestick" role="button">View</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div>
                        <a href="/examples/linechart"><img src="img/linechart.png" class="w-100" /></a>
                    </div>
                    <div class="card-body">
                        <h5>Line Chart</h5>
                        <p class="card-text">
                            Display the evolution of numerical variables
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-outline-secondary" href="/examples/linechart" role="button">View</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div>
                        <a href="/examples/areachart"><img src="img/areachart.png" class="w-100" /></a>
                    </div>
                    <div class="card-body">
                        <h5>Facetted Area Chart</h5>
                        <p class="card-text">
                            Display subsets of the data
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-outline-secondary" href="/examples/areachart" role="button">View</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div>
                        <a href="/examples/barplot"><img src="img/barplot.png" class="w-100" /></a>
                    </div>
                    <div class="card-body">
                        <h5>Barplot</h5>
                        <p class="card-text">
                            Display values for discrete groupings
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-outline-secondary" href="/examples/barplot" role="button">View</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div>
                        <a href="/examples/stacked"><img src="img/stacked.png" class="w-100" /></a>
                    </div>
                    <div class="card-body">
                        <h5>Stacked Barplot</h5>
                        <p class="card-text">
                            Display cummulative values for discrete groupings
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-outline-secondary" href="/examples/stacked" role="button">View</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div>
                        <a href="/examples/hbarplot"><img src="img/hbarplot.png" class="w-100" /></a>
                    </div>
                    <div class="card-body">
                        <h5>Flipped Barplot</h5>
                        <p class="card-text">
                            Horizontally display values for discrete groupings
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-outline-secondary" href="/examples/hbarplot" role="button">View</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div>
                        <a href="/examples/lolipop"><img src="img/lolipop.png" class="w-100" /></a>
                    </div>
                    <div class="card-body">
                        <h5>Lolipop</h5>
                        <p class="card-text">
                            Alternative to Barplot
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-outline-secondary" href="/examples/lolipop" role="button">View</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div>
                        <a href="/examples/errorbar"><img src="img/errorbar.png" class="w-100" /></a>
                    </div>
                    <div class="card-body">
                        <h5>Errorbar</h5>
                        <p class="card-text">
                            Display dispersion of numerical variables
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-outline-secondary" href="/examples/errorbar" role="button">View</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div>
                        <a href="/examples/violin"><img src="img/violin.png" class="w-100" /></a>
                    </div>
                    <div class="card-body">
                        <h5>Violin Plot</h5>
                        <p class="card-text">
                            Display the distribution of numerical variables
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-outline-secondary" href="/examples/violin" role="button">View</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div>
                        <a href="/examples/hex"><img src="img/hex.png" class="w-100" /></a>
                    </div>
                    <div class="card-body">
                        <h5>Hexagonal heatmap</h5>
                        <p class="card-text">
                            2D density plot
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-outline-secondary" href="/examples/hex" role="button">View</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div>
                        <a href="/examples/ridgeline"><img src="img/ridgeline.png" class="w-100" /></a>
                    </div>
                    <div class="card-body">
                        <h5>Ridge Line</h5>
                        <p class="card-text">
                            Useful tool for distributions comparison
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-outline-secondary" href="/examples/ridgeline" role="button">View</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div>
                        <a href="/examples/choropleth"><img src="img/choropleth.png" class="w-100" /></a>
                    </div>
                    <div class="card-body">
                        <h5>Choropleth Map</h5>
                        <p class="card-text">
                            Display geographical zones with colour scale for continuous variable
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-outline-secondary" href="/examples/choropleth" role="button">View</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div>
                        <a href="/examples/bubblemap"><img src="img/bubblemap.png" class="w-100" /></a>
                    </div>
                    <div class="card-body">
                        <h5>Bubble Map</h5>
                        <p class="card-text">
                            Display spatial data overlays
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-outline-secondary" href="/examples/bubblemap" role="button">View</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div>
                        <a href="/examples/interactivity"><img src="img/interactivity.png" class="w-100" /></a>
                    </div>
                    <div class="card-body">
                        <h5>Interactivity</h5>
                        <p class="card-text">
                            Geom interaction through events
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-outline-secondary" href="/examples/interactivity" role="button">View</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div>
                        <a href="/examples/tooltip"><img src="img/tooltip.png" class="w-100" /></a>
                    </div>
                    <div class="card-body">
                        <h5>Tooltips</h5>
                        <p class="card-text">
                            Built-in tooltip support
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <a class="btn btn-sm btn-outline-secondary" href="/examples/tooltip" role="button">View</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div>
                        <a href="/examples/live"><img src="img/live.png" class="w-100" /></a>
                    </div>
                    <div class="card-body">
                        <h5>Live Data</h5>
                        <p class="card-text">
                            Refresh plots on data updates
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-outline-secondary" href="/examples/live" role="button">View</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>