@page "/"

@using GGNet

@inject HttpClient Http

<div class="jumbotron jumbotron-fluid p-4">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-md-8 align-self-center text-center">
                <h1 class="display-4">GG.Net Data Visualization</h1>
                <p class="lead">GG.Net lets Data Scientists and Developers create interactive and flexible charts for <a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor">Blazor</a> Web Apps in C#</p>
                <hr class="my-4">
                <p>Taking its inspiration from the highly popular <a href="https://ggplot2.tidyverse.org">ggpplot2</a> R package, GG.Net provides natively rich features for your Data Analysis Workflow. Build publication quality charts with just a few lines of code.</p>
                <a class="btn btn-primary btn-lg" href="documentation" role="button">Get Started</a>
            </div>
            <div class="col-md-4">
                <div class="chart-iris bg-white border rounded-lg shadow p-3">
                    <GGNet.Components.Plot Data=@iris T="GGNet.Datasets.Iris.Point" TX="Double" TY="Double" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row ml-auto mr-auto">
    <div class="col-md-4">
        <h3>Install</h3>
        <p>GG.Net targets .Net Standard 2.1</p> 
        <p>Using NuGet:</p>
        <code>&gt; install-package GGNet</code>
    </div>
    <div class="col-md-4">
        <h3>Support</h3>
        <h5>Need Help?</h5>
        <p>Do not hesitate to <a href="">contact me</a> for Data Science, Statistics, and Analytics Consulting.</p>
        <h5>GitHub Issues</h5>
        <p>Use <a href="">GitHub issues</a> to report bugs, issues and feature requests.</p>
    </div>
    <div class="col-md-4">
        <h3>Key Features</h3>
        <ul>
            <li>Extensive graphical primitives</li>
            <li>Interactivity API</li>
            <li>High-performance live data</li>
            <li>Paneling and Faceting</li>
            <li>Custom Themes</li>
        </ul>
    </div>
</div>

@code {
    GGNet.Data<GGNet.Datasets.Iris.Point, double, double> iris;

    protected override void OnInitialized()
    {
        var source = new GGNet.Source<GGNet.Datasets.Iris.Point>(GGNet.Datasets.Iris.Load());

        iris = GGNet.Plot.New(source, x: o => o.SepalLength, y: o => o.SepalWidth)
            .Title("Fisher's Iris")
            .Geom_Point()
            .XLab("Sepal Lenght (cm)")
            .Scale_Color_Discrete(o => o.Species, GGNet.Colors.Viridis, name: "Species")
            .YLab("Sepal Width (cm)")
            .Theme(dark: false);
    }
}
